body {
    background-image: url(https://i2-vnexpress.vnecdn.net/2021/06/07/Untitled1-1623042063-1928-1623042075.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=Uf8qAuRQHMWT2r0riOXAEg);
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-size: 50px;
   
}